name: Java CI with Maven

"on":
  push:
    branches: [ "master", "main" ]
  pull_request:
    branches: [ "master", "main" ]
    
   permissions:
    contents: read
    id-token: write


jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0  # Wymagane dla SonarCloud

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Cache SonarQube packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar

    - name: Build and Analyze
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: >
        mvn -B verify org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
        -Dsonar.projectKey=marciaservus_io_9-10
        -Dsonar.organization=marciaservus
        -Dsonar.host.url=https://sonarcloud.io
        -Dsonar.qualitygate.wait=true

          deploy:
    needs: build
    runs-on: ubuntu-latest

    if: github.ref == 'refs/heads/master'

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud (OIDC)
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/318443350330/locations/global/workloadIdentityPools/github-actions-pool/providers/github
          service_account: github-actions-deployer@celestial-math-484921-t9.iam.gserviceaccount.com

      - name: Setup gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy io-9-10 \
            --source . \
            --region europe-central2 \
            --allow-unauthenticated

